.a1{
    height: 100%;
    width: 100%;
    overflow: none;
    /* background-color: #250b97; */
}
.c1{
    width: 100%;
    height: 50px;
    float: left;
    border-bottom: solid 2px #a2a2a3;
    text-align: center;
    color: #c0b3b3;
    text-decoration: none;
    /* border-radius: 12px; */
    font-size: 20px;
    /* font-family:"方正瘦金书简体常规"; */
    font-family:"华文行楷";
}
.b2{

    border-right: solid 2px #9b97ad;
    height: 100%;
    border-top:none; 
    border-bottom:none; 

}
.b3{
    float: right;
    width: 90%;
    height: calc(100%-10px);
}
.a2{
    height: 958px;
    width: 100%;
    overflow: none;
    background-image: url("./guanli/4.PNG");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.b1{
    float: left;
    width: 10%;
    height: 953px;
    background: rgba(36, 46, 104, 0.637);
}
.b5{
    position: absolute;
    right: 10px;
    top: 80%;
    font-size: 20px;
    text-decoration: none;
    color: #fbfdff;
    width: 30px;
    border: solid 1px rgba(129, 123, 123, 0.61);
    text-align: center;
    background: rgba(124, 123, 123, 0.432);
    font-family:"方正瘦金书简体";
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}